project:
  type: website

website:
  title: "2025_DAIE_ICA_2_jc"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: plots.qmd
        text: plots
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

